body {
  margin: 0;
  font-family: 'Roboto', Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  background-image: url("/public/images/03d.png");
  background-repeat: no-repeat; /* Prevent image repetition */
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
